@{
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
 <aside>
    <div class="Root">
        @Html.Raw(ViewBag.nUrl)
    </div>
</aside>
<article>
    <div id="Content">         
        <div class="Clear"></div>
        <div class="Clear"></div>
        @Html.Raw(ViewBag.chuoi)
    </div>
    <div class="Clear"></div>
</article>
